.App {
    text-align: center;
}

.app-wrapper {
    display: grid;
    grid-template-areas:
            "header header header header header header header header header header"
            "nav content content  content  content  content  content  content  content  content";
}

